body {
    background: #000000;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.nav2 p img{
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 40PX;
    background-color: black;
}
.nav2{
    width: 180px;
    
    justify-content: space-between;
  
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: white;
}



.Ceres_Asteroid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    width: 100vw;
 
    
}
.Ceres_text{
    height: 400px;
    width: 400px;
    font-size: 30px;
    margin-top: -100px;
    color: white;
}
.Ceres_text h1{
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-left: -20%;
}
.Ceres_text h3{
    margin-left: -20%;
}
.Ceres_text p{
    font-size: 25px;
    margin-left: -20%;
}
.Ceres_imag{
    height: 700px;
    width: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaJgq4f2clKeJ-Jg9PxphnVlPS-3m8-nhdTL8aKK1mHcW3afzoIqAvTxedQrzO1amvwBc&usqp=CAU);
    margin-top: 1000px;
    background-size: cover;
    margin-right: -100px;
}
