*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(uniback.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    font-family: sans-serif;
}
main{
    height: 100%;
    
    background-color: rgba(0,0,0,0.8);
}
.nav2 p img{
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 40PX;
    /* background-color: black; */
}
.nav2{
    width: 90%;
    justify-content: space-between;
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: white;
}
.gins{
    margin-top: -70px;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -110px;
    
}
.content h1{
    color: white;
    font-family: sans-serif;
    letter-spacing: 4px;
    
}
.content p{
    color: white   ;
    margin-top: 90px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 5px;
}
button{
    height: 60px;
    width: 190px;
    border-radius: 40px;
    margin-top: 40px;
    
}
button a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}